@font-face {
    font-family: ZCOOL;
    src:url('./ZCOOLKuaiLe.ttf');
}

@font-face {
    font-family: MUYAO;
    src:url('./Muyao.ttf');
}

@font-face {
    font-family: JetBrainsMono;
    src:url('./JetBrainsMono.ttf');
}
