

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes hideToShow {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }

    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}


@keyframes articleCard {
    0% {
        transform: translateY(0);
        box-shadow: 1px 1px 2px 2px #3F3B6C;
    }
    100% {
        transform: translateY(-1%);
        box-shadow: 1px 1px 10px 8px #eafdfc88;
    }
}

@keyframes shadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 1px 1px 15px 10px #F1F6F588;
    }
}

@keyframes newsShadow {
    0% {
        box-shadow: none;
    }
    100% {
        box-shadow: 1.5px 1.5px 10px 5px #3642c4dd;
    }
}

@keyframes gradientBG {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}